*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
h1{
    font-size: 4rem;
}

/* todos estos cambios son generales y se aplican a todo */