.home{
    background-image: url('../img/emilia-home.jpg');
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 70%;
    text-transform: uppercase;
}
.home header{
    margin-left: 30px;
}
.home header nav ul li{
    margin: 10px 0;
    /* text-transform: uppercase */
}
.home header nav ul li a{
    color: #6b6b6b;
}
.home header nav ul a{
    font-size: 30px;
}
.home main{
    margin-top: 220px;
}
.home main h2{
    margin-bottom: 200px;
    margin-left: 30px;
    font-family: var(--fuenteSubtitulos);
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 10px;
}
.home main h1{
    font-size: 100px;
    background-color: #ffffff5c;
    font-family: var(--fuenteSubtitulos);
}

h1{
    font-size: 3rem;
}